* {
    margin: 0;
    background-size: cover;
}

body {
    height: 100%;
    padding: 24px;
    background-image: url(pic/bg.png);
}

html {
    height: 100%;
}

div {
    border-radius: 16px;
}

.container {
    display: flex;
    gap: 16px;
    height: 100%;

    &:is(.colomn) {
        flex-direction: column;
    }

    &:is(.main1) {
        width: 100%;
    }

    &:is(.left) {
        width: 306px;
    }

    &:is(.right) {
        width: 70%;
    }

    &:is(.little) {
        height: 40%;
    }

    &:is(.big) {
        height: 60%;
        background-image: url(pic/big.png);
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    &:is(.main2) {
        width: 300px;
    }

    &:is(.biggest) {
        max-width: 1308px;
        max-height: 990px;
        margin: 0 auto;
        padding: 16px;
    }

    @media (max-width: 900px) {
        &:is(.ipad-biggest) {
            flex-direction: column;
            max-height: 1215px;
        }

        &:is(.ipad-main) {
            width: 100%;
            height: 600px;
        }
    }

    @media (max-width: 500px) {
        &:is(.mobile-colomn) {
            flex-direction: column;
        }

        &:is(.mobile-width) {
            width: 100%;
        }

        &:is(.nh-biggest) {
            max-height: 2726px;
        }

        &:is(.nh-main1) {
            height: 70%;
        }
    }
}

.text {
    display: flex;
    padding: 16px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 2vw;

    &:is(.gray) {
        color: #6D6D6D;
        justify-content: flex-end;
    }

    @media (min-width: 1536px) {
        font-size: 32px;
    }

    @media (max-width: 900px) {
        font-size: 3vw;
    }

    @media (max-width: 500px) {
        font-size: 4vw;
    }
}

.card {
    background-color: #D5D5D5;
    background-position: center;

    &:is(.colomn-card) {
        display: flex;
        flex-direction: column;
    }

    &:is(.jc) {
        justify-content: space-between;
    }

    &:is(.full-width) {
        width: 100%;
    }

    &:is(.shop) {
        height: 65%;
        overflow: hidden;
        background-image: url('pic/fish1.png');
    }

    &:is(.humor) {
        height: 35%;
        background-image: url(pic/humor.png);
    }

    &:is(.buy) {
        background: url('pic/buy.png'), linear-gradient(180deg, #D5D5D5 0%, #9ABCE4 100%);
    }

    &:is(.vybor) {
        width: 75%;
        background: url('pic/vybor.png'), linear-gradient(100deg, #D5D5D5 1.01%, #9ABCE4 84.75%);
        background-repeat: no-repeat;
    }

    &:is(.memory) {
        width: 275px;
        background-image: url(pic/memory.png);
        background-position: bottom;
    }

    &:is(.obraz) {
        height: 509px;
        background-image: url(pic/obraz.png);
    }

    &:is(.bubbles) {
        height: 464px;
        background: url('pic/bubbles.png'), linear-gradient(180deg, #D5D5D5 0%, #9ABCE4 100%);
        background-repeat: no-repeat;
    }

    @media (max-width: 900px) {
        &:is(.ipad-height) {
            height: 50%;
        }

        &:is(.ipad-obraz) {
            background-image: url('pic/obraz2.png');
        }
    }

    @media(max-width: 500px) {

        &:is(.mobile-obraz) {
            background-position: 0 30%;
            background-image: url('pic/obraz.png');
        }
    }
}